*.o
*.lo
*.la
*.gmo
*.patch
config.*
Makefile
Makefile.in
Makefile.in.in
.libs
.deps
SensorsApplet.server
SensorsApplet.server.in
aclocal.m4
.intltool-merge-cache
autom4te.cache
intltool*
INSTALL
configure
depcomp
install-sh
libtool
ltmain.sh
mate-doc-utils.make
missing
mkinstalldirs
omf.make
po/POTFILES
po/stamp-it
sensors-applet/mate-sensors-applet
sensors-applet/stamp-h1
xmldocs.make
